@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 170%;
}
#loading {
    display: none;
    text-align: center;
}
img {
    max-width: 20%;
    height: auto;
}
#dropArea {
    width: 100%;
    padding: 100px;
    background: #eee;
    text-align: center;
    margin-bottom: 17px;
}
#thumb {
    width: 100%;
    padding: 50px;
    background: #fff;
    text-align: center;
    margin-bottom: 17px;
}
#thumb img {
    max-width: 60%;
}
#sampleimage {
    padding: 7px 0;
}
#sampleimage img {
    float: left;
    max-width: 15%;
    margin-right: 7px;
}
